:root {
    --bg-color: #6E2626;
    --main-color: #FCA7A7;
    --interaction-color: #3F1616;
    --accent-color: coral;
    --hover-color: #FF6060;
    --neutral-color: #FF6060;
    --border-color: coral;
}
