:root {
    --bg-color: white;
    --main-color: black;
    --accent-color: blue;
    --interaction-color: #dddddd;
    --hover-color: #bbbbbb;
    --neutral-color: #666666;
    --border-color: black;
}
