:root {
    --bg-color: #18181A;
    --main-color: #47BAC0;
    --interaction-color: #121212;
    --accent-color: #E4609B;
    --hover-color: #00676D;
    --neutral-color: #444;
    --border-color: #FFF591;
}