:root {
    --bg-color: #0C0C0C;
    --main-color: #D3C2C3;
    --interaction-color: #252525;
    --accent-color: #F8BED6;
    --hover-color: #CE8946;
    --neutral-color: #AA7B83;
    --border-color: #F04E98;
}
