:root {
    --bg-color: #0000aa;
    --main-color: white;
    --interaction-color: #0f62fe;
    --accent-color: cyan;
    --hover-color: #40a7ff;
    --neutral-color: #40a7ff;
    --border-color: cyan;
}
