:root {
    --bg-color: #002b36;
    --main-color: #268bd2;
    --interaction-color: #00222b;
    --accent-color: #dc322f;
    --hover-color: #2aa198;
    --neutral-color: #d33682;
    --border-color: #859900;
}
