<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link id="theme-stylesheet" rel="stylesheet" href="{{ url_for('static', filename='css/themes/dark.css') }}">
<link rel="icon" href="{{ url_for('static', filename='media/icon.svg') }}" type="image/svg+xml">
<script src="{{ url_for('static', filename='js/theme_toggle.js') }}"></script>
<script src="{{ url_for('static', filename='js/alert.js') }}"></script>