<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>body { background-color: #111111; color: #ffffff; }</style>
<link rel="shortcut icon" href="{{ url_for('static', filename='media/icon.png') }}" type="image/png">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link id="theme-stylesheet" rel="stylesheet" href="{{ url_for('static', filename='css/themes/dark.css') }}">
<script src="{{ url_for('static', filename='js/theme_toggle.js') }}"></script>