<button data-theme="dark" class="theme-toggle">
    <span class="theme-toggle-text">Dark</span>
    {% set background = '#111' %}
    {% set colors = ['#fff', '#222', 'crimson'] %}
    {% include 'shared/colors.html' %}
</button>

<button data-theme="light" class="theme-toggle">
    <span class="theme-toggle-text">Light</span>
    {% set background = 'white' %}
    {% set colors = ['black', '#ddd', 'blue'] %}
    {% include 'shared/colors.html' %}
</button>

<button data-theme="blue" class="theme-toggle">
    <span class="theme-toggle-text">Blue</span>
    {% set background = '#0000aa' %}
    {% set colors = ['white', '#0f62fe', 'cyan'] %}
    {% include 'shared/colors.html' %}
</button>
