<!DOCTYPE html>
<html lang="en">
	<head>
		{% include 'shared/info.html' %}
		<title>Export - CVbuilder</title>
		<script src="{{ url_for('static', filename='js/change_button.js') }}"></script>
	</head>
	<body>
		<div class="container">
			{% include 'shared/nav.html' %}
			<main>
				<h1>Export</h1>
				<div class="button-col">
					<div class="button-row">
						<button class="filetype" data-format="pdf">PDF</button>
						<button class="filetype" data-format="doc">DOCX</button>
						<button class="filetype" data-format="jpg">JPG</button>
						<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
					</div>
					<div class="button-row">
						<button id="downloadBtn" type="button">Download</button>
						<button id="emailBtn" type="button">Send Email</button>
					</div>
				</div>
			</main>
		</div>
	</body>
</html>
