<!DOCTYPE html>
<html lang="en">
	<head>
		{% include 'shared/info.html' %}
		<title>CVbuilder</title>
		<meta property="og:title" content="CVbuilder: Build your CV fast and easy way" />
		<meta property="og:description" content="This constructor will help you quickly and easily create a stylish resume that will catch the attention of employers." />
		<meta property="og:image" content="https://cvbuilder.art/static/media/preview.png" />
		<meta property="og:url" content="https://cvbuilder.art/" />
		<meta property="og:site_name" content="CVbuilder" />
		<meta property="og:type" content="website" />
		<meta property="og:locale" content="en_US" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="CVbuilder: Build your CV fast and easy way" />
		<meta name="twitter:description" content="This constructor will help you quickly and easily create a stylish resume that will catch the attention of employers." />
		<meta name="twitter:image" content="https://cvbuilder.art/static/media/preview.png" />
		<meta name="twitter:site" content="@aqerdrs" />
	</head>
	<body>
		<div class="container">
			{% include 'shared/nav.html' %}
			<main>
				<h1>CVbuilder</h1>
				<p>Hello! Build your CV fast and easy way. Let’s dive into</p>
				<form action="/profile" method="get"><button type="submit">Let's begin</button></form>
			</main>
		</div>
	</body>
</html>
