<!DOCTYPE html>
<html lang="en">
	<head>
		{% include 'shared/info.html' %}
		<title>More - CVbuilder</title>
	</head>
	<body>
		<div class="container">
			{% include 'shared/nav.html' %}
			<main>
				<h1>About this site</h1>
				<p>Build your CV fast and easy way</p>
				<ol>
					<li>Create your profile. Fill your CV with work experience et cetera</li>
					<li>Choose sample design we got for you</li>
					<li>Export it in pdf, doc or send email</li>
				</ol>
				<p>We use cookies and by continuing to use this site you agree to their use</p>
				<p>This project were made by Ruslan Suleymanov, Rasul Gasanbekov and Vladimir Golubev</p>
				<a href="https://github.com/aqerd/CVbuilder">See our GitHub!</a>
			</main>
		</div>
	</body>
</html>
