<!DOCTYPE html>
<html lang="ru">
	<head>
		{% include 'shared/info.html' %}
		<title>Profile - CVbuilder</title>
		<script src="{{ url_for('static', filename='js/update_project.js') }}"></script>
		<script src="{{ url_for('static', filename='js/update_job.js') }}"></script>
		<script src="{{ url_for('static', filename='js/update_education.js') }}"></script>
		<script src="{{ url_for('static', filename='js/update_social.js') }}"></script>
		<script src="{{ url_for('static', filename='js/update_language.js') }}"></script>
		<script src="{{ url_for('static', filename='js/valid_url.js') }}"></script>
		<script src="{{ url_for('static', filename='js/valid_email.js') }}"></script>
		<script src="{{ url_for('static', filename='js/open_modal.js') }}" defer></script>
	</head>
	<body>
		<div class="container">
			{% include 'shared/nav.html' %}
			<main>
				<h1>Profile</h1>
				<form action="/profile" method="post">
					<div class="group" id="main-info">
						<div class="form-group">
							<label for="name">Name <b>*</b></label>
							<input type="text" id="name" name="name" placeholder="John" value="{{ name }}">
							<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
						</div>
						<div class="form-group">
							<label for="middle-name">Middle Name</label>
							<input type="text" id="middle-name" name="middle-name" placeholder="Zac" value="{{ middle_name }}">
							<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
						</div>
						<div class="form-group">
							<label for="last-name">Last Name <b>*</b></label>
							<input type="text" id="last-name" name="last-name" placeholder="Doe" value="{{ last_name }}">
							<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
						</div>
						<div class="form-group">
							<label for="email">Email <b>*</b></label>
							<input type="email" id="email" name="email" placeholder="johndoe@cvbuilder.art" value="{{ email }}">
							<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
						</div>
						<div class="form-group">
							<label for="age">Age</label>
							<input type="number" id="age" name="age" placeholder="22" value="{{ age }}" min="0" max="130">
							<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
						</div>
						<div class="form-group">
							<label for="dob">Date of Birth</label>
							<input type="date" id="dob" name="dob" placeholder="14.07.2003" value="{{ dob }}">
							<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
						</div>
						<div class="form-group">
							<label for="country">Country</label>
							<input type="text" id="country" name="country" placeholder="United States" value="{{ country }}">
							<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
						</div>
						<div class="form-group">
							<label for="city">City</label>
							<input type="text" id="city" name="city" placeholder="Seattle" value="{{ city }}">
							<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
						</div>
					</div>
					<div class="group" id="socials">
						<h2>Socials</h2>
						<div id="socials-container">
							<div class="social-item">
								<div class="form-group">
									<label for="social-link-1">Link</label>
									<input type="url" id="social-link-1" name="social-link-1" placeholder="https://cvbuilder.art/">
								</div>
							</div>
						</div>
						<button id="add-social-button" class="add-button" type="button" onclick="addSocial(event)"><b>+</b> Add Social</button>
					</div>
					<div class="group" id="projects">
						<div id="portfolio-container">
							<div class="portfolio-item">
								<h2 id="project-title-1">Project</h2>
								<div class="form-group">
									<label for="project-name-1">Name</label>
									<input type="text" id="project-name-1" name="project-name-1" placeholder="Resume Building App">
									<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
								</div>
								<div class="form-group">
									<label for="project-time-1">Timeline</label>
									<input type="text" id="project-time-1" name="project-time-1" placeholder="2024 - 2025">
									<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
								</div>
								<div class="form-group">
									<label for="project-link-1">Link</label>
									<input type="url" id="project-link-1" name="project-link-1" placeholder="https://cvbuilder.art">
									<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
								</div>
								<div class="form-group">
									<div class="text-with-btn">
										<label for="project-description-1">Description</label>
										<button class="ai-btn" onclick="openModal(event)" data-id="project-description-1">{% include 'icons/ai_stars.svg' %}</button>
									</div>
									<textarea id="project-description-1" name="project-description-1" placeholder="Tell something about this project"></textarea>
								</div>
							</div>
						</div>
						<button class="add-button" type="button" onclick="addProject(event)"><b>+</b> Add Project</button>
					</div>
					<div class="group" id="jobs">
						<div id="experience-container">
							<div class="experience-item">
								<h2 id="job-title-1">Job</h2>
								<div class="form-group">
									<label for="company-name-1">Company</label>
									<input type="text" id="company-name-1" name="company-name-1" placeholder="Google">
									<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
								</div>
								<div class="form-group">
									<label for="job-title-1">Job Title</label>
									<input type="text" id="job-position-1" name="job-position-1" placeholder="Software Engineer">
									<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
								</div>
								<div class="form-group">
									<label for="work-period-1">Work Period</label>
									<input type="text" id="work-period-1" name="work-period-1" placeholder="2024 - 2025">
									<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
								</div>
								<div class="form-group">
									<div class="text-with-btn">
										<label for="job-description-1">Description</label>
										<button class="ai-btn" onclick="openModal(event)" data-id="job-description-1">{% include 'icons/ai_stars.svg' %}</button>
									</div>
									<textarea id="job-description-1" name="job-description-1" placeholder="Describe your experience"></textarea>
								</div>
							</div>
						</div>
						<button class="add-button" type="button" onclick="addExperience(event)"><b>+</b> Add Job</button>
					</div>
					<div class="group" id="edu">
						<div id="education-container">
							<div class="education-item">
								<h2 id="education-title-1">Education</h2>
								<div class="form-group">
									<label for="institution-name-1">Institution Name</label>
									<input type="text" id="institution-name-1" name="institution-name-1" placeholder="MIT">
									<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
								</div>
								<div class="form-group">
									<label for="education-period-1">Study Period</label>
									<input type="text" id="education-period-1" name="education-period-1" placeholder="2022 - 2024">
								</div>
								<div class="form-group">
									<label for="field-of-study-1">Field of Study</label>
									<input type="text" id="field-of-study-1" name="field-of-study-1" placeholder="Computer Science">
									<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
								</div>
							</div>
						</div>
						<button class="add-button" type="button" onclick="addEducation(event)"><b>+</b> Add Education</button>
					</div>
					<div class="group" id="langs">
						<h2>Languages</h2>
						<div id="languages-container">
							<div class="language-item">
								<div class="form-group">
									<label for="language-name-1">Language</label>
									<input type="text" id="language-name-1" name="language-name-1" placeholder="English">
									<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
								</div>
								<div class="form-group">
									<label for="language-level-1">Level</label>
									<select id="language-level-1" name="language-level-1">
										<option value="beginner">Beginner</option>
										<option value="elementary">Elementary</option>
										<option value="intermediate">Intermediate</option>
										<option value="upper-intermediate">Upper Intermediate</option>
										<option value="advanced">Advanced</option>
										<option value="fluent">Fluent</option>
									</select>
								</div>
							</div>
						</div>
						<button class="add-button" type="button" onclick="addLanguage(event)"><b>+</b> Add Language</button>
					</div>
					<p>Fields with <b>*</b> are required</p>
					<button type="submit" name="action" value="submit" class="submit">Submit</button>
				</form>
			</main>
		</div>
		<template id="ai-icon-template">{% include 'icons/ai_stars.svg' %}</template>
	</body>
</html>
