<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script>
	(function () {
		const savedTheme = window.localStorage.getItem('theme') || 'dark';
		const link = document.createElement('link');
		link.id = 'theme-stylesheet';
		link.rel = 'stylesheet';
		link.href = `/static/css/themes/${savedTheme}.css`;
		document.head.appendChild(link);
	})();
</script>
<noscript>
	<link id="theme-stylesheet" rel="stylesheet" href="{{ url_for('static', filename='css/themes/dark.css') }}">
</noscript>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="icon" href="{{ url_for('static', filename='media/favicon.ico') }}" type="image/x-icon">
<script src="{{ url_for('static', filename='js/theme_toggle.js') }}"></script>
<script src="{{ url_for('static', filename='js/alert.js') }}"></script>
