<nav class="top-nav">
	<div class="blured">
		<a class="goto" id="logo-on-left" href="/"><svg class="logo" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
			<rect class="logo-cvb" width="40" height="40" rx="12"/>
			<circle class="logo-shape" cx="11.875" cy="20" r="6.875"/>
			<rect class="logo-shape" x="21.25" y="13.125" width="14" height="14" rx="4"/>
		</svg></a>
		<a class="goto" href="/profile"><button type="button">
			<span class="button-text">Profile</span>
			<span class="button-icon">{% include 'icons/profile.html' %}</span>
		</button></a>
		<a class="goto" href="/export"><button type="button">
			<span class="button-text">Export</span>
			<span class="button-icon">{% include 'icons/export.html' %}</span>
		</button></a>
		<a class="goto" href="/themes"><button type="button">
			<span class="button-text">Themes</span>
			<span class="button-icon">{% include 'icons/themes.html' %}</span>
		</button></a>
		<a class="goto" href="/more"><button type="button">
			<span class="button-text">More</span>
			<span class="button-icon">{% include 'icons/more.html' %}</span>
		</button></a>
	</div>
</nav>
