@font-face {
    font-family: 'IBM Plex Mono';
    src: url('app/static/fonts/IBMPlexMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex Mono';
    src: url('app/static/fonts/IBMPlexMono-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

body {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 20px;
    background-color: var(--bg-color);
    color: var(--main-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    overflow-y: auto;
}

h1 {
    font-weight: 600;
    font-size: 48px;
}

input, textarea, select {
    font-size: 1em;
    border-radius: 5px;
    outline: none;
    background-color: var(--interaction-color);
    color: var(--main-color);
    border: 2px solid var(--hover-color);
}

input:focus, textarea:focus, select:focus {
    border: 2px solid var(--border-color);
}

input[type="date"], input::placeholder, textarea::placeholder {
    color: var(--neutral-color);
}

input[type="date"]:focus {
    color: var(--main-color);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    display: none !important;
    margin: 0;
}

button {
    background-color: var(--interaction-color);
    color: var(--main-color);
    display: inline-block;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    padding: 8px 30px;
    cursor: pointer;
    font-family: inherit;
}

button:hover {
    background-color: var(--hover-color);
}

.button-row {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.button-row form {
    margin: 0;
}

.button-col {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.submit {
    width: 100%;
    padding: 8px 15px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: var(--interaction-color);
    color: var(--main-color);
}

.submit:active {
    background-color: var(--main-color);
    color: var(--bg-color);
}

.theme-toggle {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-right: 8px;
    line-height: 24px;
}

.color-main {
    display: flex;
    justify-content: space-between;
    gap: 4px;
    align-items: center;
    border: none;
    border-radius: 6px;
    padding: 4px;
    height: auto;
}

.color-box {
    width: 16px;
    height: 16px;
    border-radius: 4px;
}

main {
    padding: 20px;
    flex: 1;
}

main form {
    margin-bottom: 4px;
}

.group {
    gap: 4px;
}

.form-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 4px;
}

.form-group label {
    margin-right: 8px;
}

.container {
    display: grid;
    grid-template-columns: auto 1fr;
    min-height: 100vh;
}

aside {
    padding: 40px;
    display: flex;
    flex-direction: column;
}

aside button {
    background-color: var(--bg-color);
    width: 100%;
    height: 60px;
    text-align: left;
    margin-bottom: 4px;
}

aside button:hover {
    background-color: var(--interaction-color);
}

aside button:active {
    background-color: var(--hover-color);
}

textarea {
    width: 100%;
    resize: vertical;
    box-sizing: border-box;
    overflow: hidden;
}

a, a:hover, a:visited, b {
    color: var(--accent-color);
}

.current, .current:hover {
    color: var(--bg-color);
    background-color: var(--main-color);
}

button.add-button {
    margin-bottom: 4px;
}

hr {
    border: 0;
    height: 1px;
    background-color: var(--interaction-color);
    margin: 0px 0px 4px 0px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: var(--bg-color);
    margin: 15% auto;
    padding: 20px;
    border: none;
    width: 40%;
    text-align: center;
    border-radius: 10px;
}

::selection {
    background-color: var(--main-color);
    color: var(--bg-color);
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--hover-color);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--neutral-color);
}

::-webkit-scrollbar-track {
    background: var(--interaction-color);
}

@media (max-width: 768px) {
    h1 {
        font-size: 36px;
    }

    .container {
        grid-template-columns: 1fr;
    }

    .form-group {
        grid-template-columns: 1fr 1fr;
    }

    aside {
        flex-direction: row;
        gap: 8px;
        padding: 20px;
    }

    aside button {
        flex-grow: 0;
        width: 100%;
    }

    button {
        padding-left: 20px;
        padding-right: 20px;
    }

    .submit {
        padding: 8px 12px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 28px;
    }

    .container {
        grid-template-columns: 1fr;
        padding: 8px;
    }

    .form-group {
        grid-template-columns: 1fr;
    }

    button {
        padding: 6px 12px;
    }

    .submit {
        padding: 6px 12px;
    }
}
