@font-face {
    font-family: 'IBM Plex Mono';
    src: url('app/static/fonts/IBMPlexMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex Mono';
    src: url('app/static/fonts/IBMPlexMono-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

body {
    background-color: #111111;
    color: #ffffff;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 20px;
}

h1 {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;
    font-size: 48px;
}

a {
    color: white;
}

a:hover {
    color: cyan;
}

a:visited {
    color: cyan;
}

input, textarea, select {
    font-size: 1em;
    background-color: #333;
    color: #ffffff;
    border: 2px solid #222;
    border-radius: 5px;
    outline: none;
}

input, textarea, select, button {
    font-family: inherit;
}

input:focus, textarea:focus, select:focus {
    border-color: #000;
    border: 2px solid #fff;
}

input[type="date"] {
    color: #888;
}

input[type="date"]:focus {
    color: #ffffff;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

main {
    padding: 20px;
    flex: 1;
}

main form {
    margin-bottom: 4px;
}

.group {
    margin-bottom: 10px;
    gap: 4px;
}

.form-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form-group label {
    margin-right: 10px;
    margin-bottom: 4px;
}

.container {
    display: grid;
    grid-template-columns: auto 1fr;
    min-height: 100vh;
}

aside {
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.goto {
    margin: 0;
}

.goto:active {
}

textarea {
    width: 100%;
    resize: vertical;
    box-sizing: border-box;
    overflow: hidden;
}

button {
    display: inline-block;
    color: white;
    font-size: 20px;
    background-color: #222;
    border: none;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #333;
}

button:active {
    background-color: #111;
}

.button-row {
    display: flex;
    gap: 10px;
}

.button-row form {
    margin: 0;
}

.button-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

aside button {
    background-color: #111;
    width: 100%;
    height: 60px;
    text-align: left;
}

aside button:hover {
    background-color: #333;
}

aside button:active {
    background-color: #222;
}

.current {
    color: #222;
    background-color: #ffffff;
}

.current:hover {
    color: #222;
    background-color: #ffffff;
}

.submit {
    width: 100%;
    padding: 10px 15px;
    font-size: 20px;
    background-color: #222;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.submit:hover {
    background-color: #333;
}

.submit:active {
    background-color: #111;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #666;
}

::-webkit-scrollbar-track {
    background: #222;
}
