<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'shared/info.html' %}
        <title>Help - CV Builder</title>
    </head>
    <body>
        <div class="container">
            {% include 'shared/aside.html' %}
            <main>
                <h1>About this site</h1>
                <a>Build your CV fast and easy way</a>
                <ol>
                    <li>Create your profile. Fill your CV with work experience etc</li>
                    <li>Choose sample design we got for you</li>
                    <li>Export it in pdf, doc or send email</li>
                </ol>
                <p>We use cookies and by continuing to use this site you agree to their use</p>
                <p>This project were made by Ruslan Suleymanov, Rasul Gasanbekov and Vladimir Golubev</p>
                <a href="https://github.com/aqerd/CVbuilder">See our GitHub!</a>
            </main>
        </div>
    </body>
</html>
