<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{{ url_for('static', filename='media/icon.png') }}" type="image/png">
        <title>CV Builder</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div class="container">
            <aside>
                <form class="goto" action="/profile" method="get"><button type="submit">Profile</button></form>
                <form class="goto" action="/export" method="get"><button type="submit">Export</button></form>
                <form class="goto" action="/about" method="get"><button type="submit">About</button></form>
            </aside>
            <main>
                <h1>CV Builder</h1>
                <p>Hello! Build your CV fast and easy way. Let’s dive into</p>
                <form action="/profile" method="get"><button type="submit">Let's begin</button></form>
            </main>
        </div>
    </body>
</html>
